    <!-- Conteudo -->
      <div class="container">      
        <form class="form-signin">
           <img src="images/logo.png" alt="Logo" class="center-block text-center img-responsive" style="margin-bottom:15px;"/>
           <h3 align="center">Pague comandas rápidamente sem enfrentar filas!</h3>
           <label for="usuario" class="sr-only">Usuário</label>
           <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuário" required autofocus ng-model="login.email">
           <label for="senha" class="sr-only">Senha</label>
           <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required ng-model="login.senha">
           <a class="btn btn-lg btn-warning btn-block" type="submit" value="Entrar" id="btnLogin" href="#/altera-usuario">Acessar</a>
        </form>
      </div>  
	  <!-- /Conteudo --> 
    