<!-- Menu -->
<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
   <div class="navbar-header">
       <a class="navbar-brand" href="#/"><img src="images/logoSmall.png" /></a>
    </div>
   </div>
</nav>
<!-- /Menu -->    

<!-- Conteudo -->
<div class="container">
    <div class="row">
          <div class="col-sm-12">
          <a href="javascript:window.history.go(-1)"><span class="glyphicon glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span> Voltar</a>
        </div>      
                
        <div class="col-sm-12 hack-space-col">
          <h1>Cadastro</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
               <form>                       
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="col-sm-6">
                                  <div class="form-group"><label for="nomeUsuario">Nome:</label>
                                  <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" placeholder="Nome" ng-model="usuario.nome" required></div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group"><label for="emailUsuario">E-mail:</label>
                                  <input type="email" class="form-control" id="emailUsuario" name="emailUsuario" placeholder="E-mail" ng-model="usuario.email" required></div>
                              </div>  
                              <div class="col-sm-6">
                                  <div class="form-group"><label for="senhaUsuario">Senha:</label>
                                  <input type="password" class="form-control" id="senhaUsuario" name="senhaUsuario" placeholder="Senha" ng-model="usuario.senha" required></div>
                              </div>
                          </div>
                       </div>
                      <div class="row">
                              <div class="col-sm-12">
                                  <div class="col-sm-6">                        
                                      <div class="form-group"><label for="nascUsuario">Data de nascimento:</label>
                                      <input type="date" class="form-control" id="nascUsuario" name="nascUsuario" ng-model="usuario.nascimento"></div>
                                  </div>
                                  <div class="col-sm-6">  
                                      <div class="form-group"><label for="cpfUsuario">CPF:</label>
                                      <input type="text" class="form-control" id="cpfUsuario" name="cpfUsuario" placeholder="000.000.000-00" ng-model="usuario.cpf"></div>
                                  </div>  
                              </div>
                      </div>    
                      <div class="row">
                              <div class="col-sm-12">
                              <p class="text-info text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
                              Você deve cadastrar ao menos 1 cartão neste momento.</p>
                                  <div class="col-sm-4"> 
                                      <div class="form-group"><label for="cartaoUsuario">Cartão:</label>
                                      <input type="text" class="form-control" id="cartaoUsuario" name="cartaoUsuario" placeholder="000.000.000-00" ng-model="cartao.numero"></div>
                                  </div>
                                  <div class="col-sm-2">
                                      <div class="form-group"><label for="valCartaoUsuario">Validade:</label>
                                      <input type="text" class="form-control" id="valCartaoUsuario" name="valCartaoUsuario" placeholder="00/00" ng-model="cartao.validade"></div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group"><label for="nomeTitCartao">Nome titular do Cartão:</label>
                                      <input type="text" class="form-control" id="nomeTitCartao" name="nomeTitCartao" placeholder="Nome Titular do Cartão" ng-model="cartao.nome"></div>
                                  </div>
                                  <div class="col-sm-2">
                                      <div class="form-group"><label for="codCartao">Código de Segurança:</label>
                                      <input type="text" class="form-control" id="codCartao" name="codCartao" placeholder="Cod" ng-model="cartao.codigo"></div>
                                  </div>
                              </div>
                      </div>
                <button class="btn btn-lg btn-warning center-block" type="submit" value="Cadastrar" id="btnLogin" ng-click="criarUsuario()">Cadastrar</button>          
              </form>
          </div>
      </div>
    <br />  
</div>
 