<!-- Menu -->
<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
   <div class="navbar-header">
         <a class="navbar-brand" href="#/"><img src="images/logoSmall.png" /></a>
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configurações</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sair</a></li>
         </ul>
      </div>
   </div>
</nav>
<!-- /Menu -->    

<!-- Conteudo -->
      <div class="container">
         	<div class="row">
            	<div class="col-sm-12">
            		<a href="javascript:window.history.go(-1)"><span class="glyphicon glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span> Voltar</a>
            	</div>
            </div>                 
            <!-- Lista -->
            <div class="row">
            	<div class="col-sm-12">
                <button class="btn btn-lg btn-warning center-block" type="submit" value="Abrir comanda" id="btnAbrirComanda">Abrir Comanda</button> 
                <h3>Comandas</h3>
                <hr />
                	<!-- empresa -->
                    <ul class="list-group" ng-repeat="item in listaEstabelecimentos">
                        <a href="gerencial-comanda.html" class="clickable">
                            <li class="list-group-item" ng-click="">
                                <p><strong>Erick Bruno Sutil</strong></p>
                                <p>Comanda parcial: R$ 0,00</p>
                            </li>
                        </a>                     
                    </ul>
                    <!-- /empresa -->
                </div>
            </div>
            <!-- / Lista -->
            
			<!-- Paginação -->
            <nav class="center-block text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li>
                  <a href="#" aria-label="Próximo">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- /Paginação -->
            
      </div>
      <!-- /Conteudo --> 