
      <!-- Conteudo -->
      <div class="container">
         	<div class="row">
            	<div class="col-sm-12">
            		<a href="javascript:window.history.go(-1)"><span class="glyphicon glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span> Voltar</a>
            	</div>
            </div>       
      		<h2 class="text-center">Olá!</h2>
            <p class="text-center">Pague comandas rápidamente sem enfrentar filas!</p>
            
            <!-- Lista -->
            <div class="row">
            	<div class="col-sm-12">
                <h3>Restaurantes Próximos</h3>
                <hr />
                	<!-- empresa -->
                    <ul class="list-group" ng-repeat="item in listaEstabelecimentos">
                        <a class="clickable">
                            <li class="list-group-item" ng-click="abrirRestaurante(item)">
                                <p><strong>{{item.nome}}</strong></p>
                                <p>{{item.descricao}}</p>
                            </li>
                        </a>                     
                    </ul>
                    <!-- /empresa -->
                </div>
            </div>
            <!-- / Lista -->
            
			<!-- Paginação -->
            <nav class="center-block text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li>
                  <a href="#" aria-label="Próximo">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- /Paginação -->
      </div>

