body {
	background-color: #FBFBFB;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.navbar {
	background-color: #643a74;
	border: 0px;
}
.navbar-default .navbar-nav > li > a {
	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #C8C8C8;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #C8C8C8;
	background-color: #EFEFEF;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #ccc;
	background-color: transparent;
} 

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f0ad4e;
}

.alert-info {
    color: #531F44;
    background-color: #FBF4F8;
    border-color: #531F44;
}

.clickable{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #323232;
	cursor:pointer;

}

a{
	color:#633675;
}

a:hover, onclick, focus{
	text-decoration: none;
	color:#633675;
}

.pagination li a{
	color:#633675;
}

.pagination li a:hover, onclick, active{
	color:#633675;
}

a .list-group-item:hover, active, onclick{
	color:#633675;
	text-decoration:none;
}

.alert-padding{
	padding-top:5px;
}

.alert-margin{
	margin-top:5px;
}

.navbar-brand{
	margin-top:-4px;
}